* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

#flashcard-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.flashcards {
    margin-top: 20px;
}

.flashcard {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flashcard-content {
    width: 100%;  
    padding: 20px;
    background-color: #f0f0f0; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.flashcard-content p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.flashcard-actions {
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 10px;  
    margin-top: 10px;
    flex-direction: column; /* Botões na vertical */
}

.flashcard-actions button {
    background-color: #FF6347;
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
}

.flashcard-actions button:hover {
    background-color: #D94B36;
}

.flashcard-actions i {
    font-size: 1.2em; 
}

#audio-options {
    margin-top: 20px;
    text-align: center;
}

#audio-options button {
    margin: 0 5px;
}

.flashcard img {
    width: 100%;           
    height: auto;          
    max-width: 400px;      
    margin-top: 10px;      
    border-radius: 8px;    
}

button i {
    font-size: 1.5em;
}

/* Estilo para as palavras sendo lidas */
.highlight {
    text-decoration: underline;
    text-decoration-color: #D8B4DD;  /* Cor lilás para o traço */
    text-decoration-thickness: 2px;  /* Espessura do traço */
}
